.modal {
  position: fixed;
  top: 20vh;
  left: 25vw;
  background-color: royalblue;
  height: 30vh;

  
  .row{
    

    justify-content: space-evenly;
    margin-right: 20px;
    
    display:flex;
    width: 300px;
  }


}

